trecrts-eval
twitter_auth
twitter-tools
*test
*.pyc
*.sh.o*
*.log
auth_info/
topics
histogram/
*.png
additional_data/
my_code/distribution/indri_code/Makefile.app
my_code/distribution/indri_code/get_statistics
my_code/distribution/query_prediction/clarity/*
data
!get_condidate_query.cpp
!show_clarity.cpp
